#autocomplete-container {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  z-index: 10;

  #autocomplete-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30rem;
    overflow: scroll;
    position: absolute;
    top: 5rem;
    background-color: $light-grey;

    border-radius: 1.2rem;

    &::-webkit-scrollbar {
      display: none;
    }

    .username {
      color: $deep-pink;
    }

    #each-item {
      width: 100%;
      padding: 1rem 2rem;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      font-size: 1.5rem;
      font-family: $Noto;
      color: $med-black;

      &:hover {
        background-color: $light-orange;
      }
    }
  }
}

#history-autocomplete-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $dark-orange;
  text-decoration-thickness: 0.3rem;
  width: fit-content;
  margin-top: 0.2rem;

  #history-autocomplete-list {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 40rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 3rem;
    // glass
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);

    &::-webkit-scrollbar {
      display: none;
    }

    .date {
      color: $med-black;
    }

    #history-each-item {
      width: 100%;
      padding: 1.5rem 2rem;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      font-size: 1.5rem;
      font-weight: $bold;
      font-family: $Noto;
      color: $med-black;
      // border: 1px solid $ghost-white;

      &:hover {
        background-color: $light-orange;
      }
    }
  }
}
