#MemberWindow {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @include media("<420px") {
    align-items: unset;
    overflow: unset;
  }
}

#dashboard-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $light-purple;

  @include media("<420px") {
    height: 125vh;
    overflow: hidden;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    width: 75rem;
    height: 75rem;
    border-radius: 100%;
    position: absolute;
  }

  .circle1 {
    background-color: $med-orange2;
    top: -25rem;
    left: -25rem;
    transform: scale(0.9);
  }

  .circle2 {
    background-color: $shadow-purple;
    right: 7rem;
    bottom: -30rem;
    transform: scale(1.2);
  }

  .circle3 {
    background-color: $med-purple;
    right: 0rem;
    bottom: -27rem;
    transform: scale(1.2);
  }

  .circle4 {
    background-color: $med-orange2;
    right: -35rem;
    top: 25rem;
    transform: scale(0.5);
  }
}
