#dashboardContainer {
  background-color: $egg-white;
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  min-height: 60rem;
  height: fit-content;
  max-height: 85rem;
  display: flex;
  flex-direction: row;
  box-shadow: 15px 15px 15px rgba(46, 54, 68, 0.4);
  width: fit-content;
  max-width: 145rem;
  margin: 3rem;
  z-index: 100;
  position: relative;

  @include media("<420px") {
    padding: 2rem 0;
  }
  @include media("<=528px") {
    padding: 2rem 0;
  }
}
@import "./background";
@import "./sidebar";
@import "./home";
@import "./friends";
@import "./payrequestForm";
@import "./request";
@import "./payment";
@import "./autocomplete";
@import "./formConfirmation";
@import "./history";
@import "./settings";
