#payRequestForm {
  .form {
    form {
      .confirmationSection {
        // background-color: palevioletred;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .search {
          font-size: 15rem;
          color: $light-grey;
        }

        .profilePicture {
          width: 20rem;
          height: 20rem;
          border-radius: 100%;
          overflow: hidden;
          border: 5px solid #85d473;

          img {
            width: 100%;
          }
        }

        .message {
          margin: 1rem 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          // background-color: palevioletred;

          i {
            font-size: 2rem;
            color: #a9a9b5;
            margin: 0 0.5rem;
          }

          p {
            font-style: italic;
            color: #a9a9b5;
            font-weight: $bold;
          }
        }
      }
    }
  }
}
