#friendsContainer {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;

  @include media("<1000px") {
    margin-left: 6rem;
  }

  @include media("<=528px") {
    margin-left: 8rem;
  }

  .searchBar {
    .form {
      form {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          width: 100%;
          min-width: 35rem;
          height: 4rem;
          border-radius: 1.2rem 0 0 1.2rem;
          outline: none;
          border: none;
          background-color: $light-grey;
          padding: 2rem;
          font-size: 1.5rem;
          font-family: $Noto;

          @include media("<=528px") {
            min-width: 20rem;
            width: 75%;
          }
        }

        button {
          height: 4rem;
          border-radius: 0 1.2rem 1.2rem 0;
          outline: none;
          border: none;
          background-color: $med-grey;
          padding: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          cursor: pointer;

          &:hover {
            background-color: $med-pink;
          }

          i {
            font-size: 1.5rem;
            position: absolute;
          }
        }
      }
    }
  }

  .friendsList {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem -1rem;
    overflow-y: scroll;

    @include media("<=528px") {
      min-width: 30rem;
    }

    .friendPlaceholder {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4 {
        font-size: 15rem;
        color: $light-grey;
      }
    }

    .friendsCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      background-color: $light-grey;
      padding: 2rem;
      border-radius: 2rem;
      margin: 1rem;
      width: 25rem;

      .friendProfilePicture {
        width: 17rem;
        height: 17rem;
        background-color: peachpuff;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(46, 54, 68, 0.4);

        img {
          width: 100%;
        }
      }

      .friendInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;

        .friendUsername {
          font-style: italic;
          color: $deep-pink;
        }
      }
    }

    .friendship {
      background-color: #85d473;
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;

      i {
        color: $med-black;
      }
    }

    .notFriend {
      background-color: $med-pink;
      padding: 0.5rem 1.5rem;
      border-radius: 2rem;

      i {
        cursor: pointer;
        color: $med-black;
      }
    }
  }
}
