#historyContainer {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;

  @include media("<1000px") {
    margin-left: 6rem;
  }

  @include media("<=528px") {
    margin-left: 8rem;
    min-width: 28rem;
  }

  .history-center {
    padding-top: 10rem;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 2rem -1rem;

    height: 100%;

    .historyPlaceholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h4 {
        font-size: 15rem;
        color: $light-grey;
      }

      p {
        color: $med-grey;
      }
    }

    .archive {
      width: 55rem;
      background: $light-grey;
      margin: 0.5rem 1rem;
      padding: 1.5rem;
      border-radius: 1.2rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      @include media("<=688px") {
        width: 35rem;
        flex-direction: column;
        justify-content: center;
      }
      @include media("<=528px") {
        width: 25rem;
      }
      @include media("<=428px") {
        width: 25rem;
      }

      .archiveIcon {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;

        .icon {
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          overflow: hidden;
          justify-self: flex-start;

          img {
            width: 100%;
          }
        }
      }

      .archiveInfo {
        width: 70%;
        margin: 0 1rem;

        @include media("<688px") {
          text-align: center;
        }

        .type {
          p {
            color: #8975fc;
            font-style: italic;
          }
        }
      }

      .amount {
        width: 35%;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media("<=688px") {
          margin: 1rem 2rem 0 2rem;
        }

        p {
          font-style: italic;
        }

        .received,
        .sent,
        .declined {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1rem;
          border-radius: 2.5rem;

          i {
            font-size: 2rem;
            margin-right: 0.5rem;
            color: $ghost-white;
          }
        }

        .received {
          background-color: #85d473;
        }

        .sent {
          background-color: #ff4b4b;
        }

        .declined {
          background-color: $dark-orange;
        }

        .up {
          color: #2bad0d;
        }

        .down {
          color: #ff2b2b;
        }

        .no-change {
          color: #e8803b;
        }
      }
    }

    .archive:nth-child(even) {
      background-color: #d3d3e1;
    }
  }
}
