.activeContentContainer,
.inactiveContentContainer,
.receivedContentContainer {
  flex-wrap: wrap;
  // margin: 0 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: powderblue;
  // min-width: 65rem;
  max-height: 65rem;

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  // .titleBar {
  //   margin: 0.5rem 0;
  //   margin-right: 1rem;
  //   position: sticky;
  //   top: 0px;
  //   z-index: 10;

  //   h3 {
  //     cursor: pointer;
  //     background-color: $light-grey;
  //     border-radius: 1rem;
  //     padding: 0.5rem 1rem;
  //     display: flex;
  //     justify-content: space-between;
  //   }
  // }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
    margin-right: 1rem;
    // background-color: palevioletred;

    .noNotif {
      // background-color: peachpuff;
      width: 100%;
      height: 40rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h1 {
        color: $light-grey;
      }
    }

    .transaction {
      // background-color: palegoldenrod;
      width: 25rem;
      // height: 30rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $light-grey;
      padding: 2rem;
      border-radius: 2rem;
      margin: 1rem;
      position: relative;
      overflow: hidden;

      .name,
      .icon,
      .username,
      .info,
      .amount,
      .action {
        margin: 0.5rem 0;
        z-index: 1;
      }

      .card-bg {
        width: 50rem;
        height: 45rem;
        border-radius: 50%;
        background-color: $light-pink;
        position: absolute;
        bottom: -28rem;
      }

      .iconStatus {
        z-index: 1;
        position: relative;

        .status {
          position: absolute;
          right: -0.5rem;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          padding: 0 0.25rem;

          h4 {
            font-size: 3.5rem;
          }
        }
        .approved {
          background-color: #85d473;
        }

        .denied {
          background-color: $dark-pink;
        }
      }

      .icon {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        background-color: peachpuff;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(46, 54, 68, 0.4);
        // z-index: 1;

        img {
          width: 100%;
        }
      }

      .username {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: $deep-pink;
          font-style: italic;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $med-pink;
        padding: 0.5rem;
        border-radius: 1.3rem;
        text-align: center;
        height: 6rem;
        justify-content: center;
        width: 20rem;

        p {
          margin: 0 -2rem;
        }
      }

      .action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin: 0.5rem;
        width: 40%;
        // background-color: peachpuff;
        // position: absolute;
        // bottom: 1.5rem;

        h4 {
          font-size: 3.2rem;

          i {
            cursor: pointer;
            // &:hover {
            //   // color: $ghost-white;
            // }
          }

          .approve {
            &:hover {
              background-color: #85d473;
              border-radius: 100%;
            }
          }

          .deny {
            &:hover {
              background-color: $dark-pink;
              border-radius: 100%;
            }
          }

          // .approved {
          //   background-color: #85d473;
          //   border-radius: 100%;
          //   cursor: unset;
          // }

          // .denied {
          //   background-color: $dark-pink;
          //   border-radius: 100%;
          //   cursor: unset;
          // }

          // .archive {
          //   font-size: 2.9rem;

          //   &:hover {
          //     color: #f0a25e;
          //   }
          // }
        }
      }
    }
  }

  .transaction:hover .card-bg {
    background-color: peachpuff;
    transition: 0.8s;
  }

  .transaction:hover .info {
    background-color: #ffb16c;
    transition: 0.8s;
  }
}

// .inactiveContentContainer {
//   .transaction {
//     .archive {
//       position: absolute;
//       right: 1rem;
//       top: 1rem;
//     }
//   }
// }
