.activeContentContainer,
.inactiveContentContainer,
.receivedContentContainer {
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 65rem;

  @include media("<=528px") {
    padding-left: 4.5rem;
  }
  @include media("<=420px") {
    padding-left: 1rem;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1rem;
    margin-right: 1rem;

    .noNotif {
      width: 100%;
      height: 40rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h1 {
        color: $light-grey;
      }
    }

    .transaction {
      width: 25rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $light-grey;
      padding: 2rem;
      border-radius: 2rem;
      margin: 1rem;
      position: relative;
      overflow: hidden;

      .name,
      .icon,
      .username,
      .info,
      .amount,
      .action {
        margin: 0.5rem 0;
        z-index: 1;
      }

      .card-bg {
        width: 50rem;
        height: 45rem;
        border-radius: 50%;
        background-color: $light-pink;
        position: absolute;
        bottom: -28rem;
      }

      .iconStatus {
        z-index: 1;
        position: relative;

        .status {
          position: absolute;
          right: -0.5rem;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          padding: 0 0.25rem;

          h4 {
            font-size: 2rem;
          }
        }
        .approved {
          background-color: #85d473;
          padding: 0.5rem 0.7rem;
          border: 2.5px solid $med-black;
        }

        .denied {
          background-color: #ff4b4b;
          padding: 0.5rem 1rem;
          border: 2.5px solid $med-black;
        }
      }

      .icon {
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        background-color: peachpuff;
        overflow: hidden;
        box-shadow: 2px 2px 2px rgba(46, 54, 68, 0.4);

        img {
          width: 100%;
        }
      }

      .username {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          color: $deep-pink;
          font-style: italic;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $med-pink;
        padding: 0.5rem;
        border-radius: 1.3rem;
        text-align: center;
        height: 6rem;
        justify-content: center;
        width: 20rem;

        p {
          margin: 0 -2rem;
        }
      }

      .action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 40%;

        h4 {
          font-size: 3.2rem;

          i {
            cursor: pointer;
          }

          .approve {
            &:hover {
              background-color: #85d473;
              border-radius: 100%;
            }
          }

          .deny {
            &:hover {
              background-color: $dark-pink;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }

  .transaction:hover .card-bg {
    background-color: peachpuff;
    transition: 0.8s;
  }

  .transaction:hover .info {
    background-color: #ffb16c;
    transition: 0.8s;
  }
}
