#payRequestForm {
  width: 100%;
  margin-left: 3rem;
  // background-color: peachpuff;

  .form {
    height: 100%;
    // background-color: peachpuff;

    form {
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      height: 100%;
      // background-color: palevioletred;

      h3 {
        align-self: center;
        margin: 1rem 0;
      }

      .searchBar {
        width: 35rem;
        height: 4rem;
        border-radius: 1.2rem;
        outline: none;
        border: none;
        background-color: $light-grey;
        font-family: $Noto;
        font-size: 1.5rem;
        padding: 2rem;
      }

      .friendProfilePicture {
        width: 14rem;
        height: 14rem;
        border-radius: 100%;
        background-color: peachpuff;
        align-self: center;
        margin: 2rem 0;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .amount {
        height: 5rem;
        width: 100%;
        align-self: center;
        outline: none;
        border: none;
        font-size: 3rem;
        text-align: center;
        font-family: $Noto;
        font-weight: $boldest;
        background-color: transparent;
        color: $med-black;

        &::placeholder {
          color: $med-black;
        }

        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }

      .descriptionField {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .description {
          width: 100%;
          height: 6rem;
          font-size: 1.5rem;
          color: $med-black;
          padding: 0 2rem;
          font-family: $Noto;
          background-color: $light-grey;
          border-radius: 1.2rem;
          outline: none;
          border: none;
          text-align: center;
          margin: 1rem;
        }

        .descriptionLength {
          position: absolute;
          right: 1.8rem;
          bottom: 1.8rem;
          font-family: $Noto;
        }

        .errorMsg {
          font-size: 1.5rem;
          font-family: $Noto;
          color: $deep-pink;
          font-weight: $bold;
        }
      }

      .type {
        width: 100%;
        margin: 0.5rem;
        // background-color: $med-grey;
        align-self: center;

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: row;
          width: 100%;
          // justify-content: space-around;
          margin: 1rem;

          li {
            width: 50%;
            text-align: center;

            input[type="radio"] {
              // visibility: hidden;
              display: none;

              &:checked + label {
                background: $med-pink;
                padding: 0.5rem 1.5rem;
                border-radius: 1.5rem;
              }
            }

            label {
              cursor: pointer;
              font-family: $Noto;
              font-size: 1.5rem;
              font-weight: $bold;
            }
          }
        }
      }

      button {
        border: none;
        outline: none;
        font-size: 1.8rem;
        font-weight: $boldest;
        font-family: $Noto;
        width: fit-content;
        margin: 1.5rem;
        align-self: center;
        padding: 1rem 5rem;
        border-radius: 2.5rem;
        background-color: $dark-orange;
        cursor: pointer;

        &:hover {
          background-color: $deep-pink;
        }
      }
    }
  }
}
