#settingsContainer {
  margin-left: 6rem;
  max-width: 50rem;

  @include media("<688px") {
    margin-left: 8rem;
  }

  .settingsForm {
    h3 {
      margin-top: 0.5rem;
    }
    p {
      margin-bottom: 2rem;
    }

    form {
      margin: 5rem 0;
      @include media("<688px") {
        flex-direction: column;
        display: flex;
      }

      .one-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;

        @include media("<688px") {
          flex-direction: column;
          margin: unset;
        }

        .field {
          position: relative;
          margin: 1rem 0;
          margin-right: 1.5rem;
          font-size: 1.5rem;
          color: $dark-black;
        }

        .email input {
          width: 25rem;
        }

        input {
          height: 4rem;
          width: 20rem;
          padding: 2rem;
          font-size: 1.5rem;
          outline: none;
          border: none;
          border-radius: 2rem;
          background-color: $light-purple;
          font-family: $Noto;

          &:focus {
            background-color: $lighter-purple;
          }
        }

        label {
          position: absolute;
          top: -1.8rem;
          left: 2rem;
          pointer-events: none;
          transition: all 0.3s ease;
          font-family: $Noto;
          font-weight: $bolder;
          font-size: 1.25rem;
          color: $dark-black;
        }

        .status {
          position: absolute;
          right: -3rem;
          bottom: -1rem;
          font-size: 2rem;

          .fa-check-circle {
            color: #7fda8d;
          }

          .fa-times-circle {
            color: #ee6f59;
          }
        }
      }

      .button button {
        margin: 1rem 0;
        padding: 1.5rem 4rem;
        outline: none;
        border: none;
        background-color: $med-orange;
        border-radius: 2.5rem;
        cursor: pointer;

        &:hover {
          background-color: $deep-pink;
        }

        h4 {
          font-size: 2rem;
        }
      }

      #updateStatus {
        color: $deep-pink;
        font-weight: $bold;
        margin-top: 1rem;
      }
    }
  }
}
