#sidebar {
  background-color: $dark-purple;
  margin: -2rem 0;
  margin-left: -3rem;
  padding: 2rem 3rem;
  width: 25rem; // may need to change later
  border-radius: 2.5rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .profilePicture {
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    background-color: $dark-pink;
    align-self: center;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(46, 54, 68, 0.4);

    img {
      width: 100%;
    }
  }

  .nameCard {
    padding: 0.5rem 0;
    background-color: $egg-white;
    margin: 1.5rem 0;
    border-radius: 1.1rem;
    text-align: center;

    // h3 {
    //   color: $ghost-white;
    // }
  }

  #dashNav,
  #dashSubNav {
    ul {
      list-style: none;
      li {
        margin: 0.7rem 0;
        a {
          color: $ghost-white;
          text-decoration: none;
          font-size: 1.5rem;

          &:hover {
            color: $med-pink;
          }
        }
      }
    }
  }

  #dashNav {
    a {
      padding: 1rem;
    }
  }

  #dashSubNav {
    position: absolute;
    bottom: 1rem;

    ul {
      display: flex;
      flex-direction: row;
      li {
        a {
          font-size: 2.5rem;
          i {
            margin-right: 2rem;
            color: $med-grey;

            &:hover {
              color: $med-pink;
            }
          }
        }
      }
    }
  }
}
