#autocomplete-container {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	margin-bottom: 25px;

	#autocomplete-list {
		background-color: white;
		width: 100%;
		padding: 0px 10px;
		border-left: gray 1px solid;
		border-right: gray 1px solid;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 150px;
		overflow: scroll;
		// border-bottom: gray 1px solid;
		position: absolute;

		#each-item {
			border-bottom: gray 1px solid;
			width: 100%;
			padding: 5px;
			text-decoration: none;

			&:hover {
				background-color: #e9e9e9;
			}

			div {
				color: black;
			}
		}
	}
}
