.aboutContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;

  @include media("<1000px") {
    flex-direction: column;
  }

  @include media("<600px") {
    padding: 2rem 0rem;
  }

  .profileContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50rem;
    min-width: 48rem;

    @include media("<1000px") {
      height: 40rem;
      min-width: 40rem;
      align-self: center;
      margin-bottom: 3rem;
    }

    @include media("<500px") {
      min-width: 28rem;
      height: 28rem;
    }

    .headshot {
      width: 30rem;
      height: 30rem;
      overflow: hidden;
      border-radius: 100%;
      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.4);

      @include media("<1000px") {
        width: 25rem;
        height: 25rem;
      }
      @include media("<500px") {
        width: 17rem;
        height: 17rem;
      }

      img {
        width: 100%;
        cursor: pointer;
        transform: scale(1);
        transition: 1s;

        &:hover {
          transform: scale(1.05);
          transition: 1s;
        }
      }
    }

    .one {
      position: absolute;
      bottom: 1rem;
      z-index: 1;
    }

    .two {
      position: absolute;
      right: 0;
    }

    .three {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      background-color: $med-pink;
      position: absolute;
      bottom: 6rem;
      right: 10rem;
      box-shadow: 5px 5px 5px rgba(46, 54, 68, 0.4);
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media("<500px") {
        bottom: 4rem;
        right: 8rem;
        width: 7rem;
        height: 7rem;
      }

      img {
        width: 70%;
        transform: scale(1);
        transition: 1s;

        &:hover {
          transform: scale(1.05);
          transition: 1s;
        }
      }
    }
  }

  .aboutContentContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media("<1000px") {
      justify-content: center;
    }

    .aboutCard {
      width: 90%;
      background-color: $white;
      border-radius: 2.5rem;
      padding: 2rem 3rem;
      box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.4);

      @include media("<1000px") {
        min-width: 40rem;
      }

      @include media("<500px") {
        min-width: 20rem;
      }

      .aboutContent {
        .titleHeading {
          margin-bottom: 3rem;
          a {
            text-decoration: none;
            color: $deep-pink;
          }
        }

        .profileDescription {
          background-color: $light-purple;
          margin: -2rem -3rem;
          padding: 2rem 3rem;
          border-radius: 2rem;
          a {
            color: $deep-pink;
            text-decoration: none;

            &:hover {
              color: $dark-pink;
            }
          }
        }

        #profileNav {
          padding: 2rem 0;
          position: relative;

          ul {
            list-style-type: none;
            font-size: 2.5rem;
            display: flex;
            flex-direction: row;
            position: absolute;
            right: 0;

            li {
              margin: 0 0.7rem;

              a {
                color: rgb(55, 55, 55);

                &:hover {
                  color: $dark-pink;
                }
              }
            }
          }
        }
      }
    }
  }
}
