#HomeWindow {
  // background-color: $med-purple;
  // width: 100vw;
  // display: flex;
  // align-self: center;
  // justify-content: center;
  // position: relative;
  // overflow: hidden;
  // height: 100vh;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $med-purple;

  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    width: 75rem;
    height: 75rem;
    border-radius: 100%;
    position: absolute;
  }

  .circle1 {
    left: -30rem;
    top: 45rem;
    transform: scale(1.2);
    background-color: $med-orange;
  }

  .circle2 {
    background-color: $shadow-purple;
    top: -20rem;
    right: 5rem;
    transform: scale(1.2);
  }

  .circle3 {
    background-color: $light-purple;
    top: -15rem;
    right: 0;
    transform: scale(1.2);
  }

  .circle4 {
    background-color: $med-orange;
    top: 15rem;
    right: -30rem;
    transform: scale(0.6);
    // display: none;
  }
}

// the above does not work as intended, may need to set bg container to have a higher z idx instead of using position absolute. make the circles be position absolute/fixed and then control their placement via top,btm,left,right
