.heroImg {
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 1rem;

  img {
    width: 90%;
    object-fit: contain;
  }
}

.mainContentContainer {
  flex: 1;
  display: flex;
  align-items: center;

  .homeContent {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;

    .joinBtn {
      @include bigBtn;
    }

    .description {
      h1 {
        color: $ghost-white;
        margin-bottom: 1rem;
      }

      h2 {
        color: $med-orange;
        margin-bottom: 0.5rem;

        .emphasis {
          font-style: italic;
        }
      }

      h3 {
        color: rgba($med-orange, 0.9);
        font-size: 2rem;
      }
    }
  }
}
