@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
$Noto: "Noto Sans JP", sans-serif;
$shadow-purple: #6f5dd9;
$dark-purple: #5849ad;
$med-purple: #9381ff;
$light-purple: #b8b8ff;
$lighter-purple: #c6c6fa;
$dark-orange: #fcc6a3;
$med-orange2: #f7ddc4;
$med-orange: #ffd8be;
$orange-highlight: #ffdab9;
$light-orange: #ffeedd;
$deep-pink: #ec3a5b;
$dark-pink: #ff778f;
$med-pink: #ff99ab;
$light-pink: #ffd2dc;
$med-grey: #c3c3cf;
$light-grey: #dfdfed;
$ghost-white: #f8f7ff;
$shell-white: #f9f8ff;
$white: #f0f3ff;
$egg-white: #f3f6fd;
$dark-black: #232323;
$med-black: #2d2d2d;
$light-black: #464646;
$boldest: 900;
$bolder: 700;
$bold: 500;

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  color: $dark-black;
}

h2 {
  font-size: 3rem;
  color: $med-black;
}

h3 {
  font-size: 2rem;
  color: $med-black;
}

h4 {
  font-size: 1.8rem;
  color: $med-black;
}

p {
  font-size: 1.5rem;
  color: rgb(55, 55, 55);
}

@mixin bigBtn {
  background-color: $dark-pink;
  border-radius: 3.5rem;
  border: none;
  cursor: pointer;
  font-family: $Noto;
  font-size: 3rem;
  font-weight: $bolder;
  outline: none;
  padding: 1rem 3rem;

  &:hover {
    background-color: $med-pink;
  }
}

.btnLink {
  text-decoration: none;
  width: fit-content;
}

@mixin standardCard {
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  box-shadow: 15px 15px 15px rgba(46, 54, 68, 0.4);
}
