.form {
  margin: auto;

  h1 {
    color: $ghost-white;
    margin-bottom: 3rem;
    font-weight: $boldest;
    letter-spacing: 1px;
  }

  .one-line {
    display: flex;
    flex-direction: row;
    align-items: center;

    .login {
      button {
        background-color: transparent;
        outline: none;
        border: none;

        i {
          color: $med-pink;
          font-size: 4rem;

          &:hover {
            color: $dark-pink;
            cursor: pointer;
          }
        }
      }
    }
    .field {
      position: relative;
      margin: 1rem 0;
      margin-right: 1.5rem;
      font-size: 1.5rem;
      color: black;

      input {
        height: 4rem;
        width: 20rem;
        padding: 2rem;
        font-size: 1.5rem;
        outline: none;
        border: none;
        border-radius: 2rem;
        background-color: $light-purple;

        &:focus {
          background-color: $lighter-purple;
        }
      }

      label {
        position: absolute;
        bottom: 1.25rem;
        left: 2rem;
        pointer-events: none;
        transition: all 0.3s ease;
      }
    }

    .email {
      input {
        width: 23rem;
      }
    }
  }

  .message {
    color: $ghost-white;

    a {
      text-decoration: none;
      color: $med-pink;

      &:hover {
        color: $dark-pink;
        text-decoration: underline;
        text-decoration-color: $dark-pink;
      }
    }
  }

  .signup {
    margin-top: 1rem;
    button {
      background-color: transparent;
      outline: none;
      border: none;

      i {
        color: $med-pink;
        font-size: 4rem;

        &:hover {
          color: $dark-pink;
          cursor: pointer;
        }
      }
    }
  }
}

.form input:focus + .label,
.form input:valid + .label,
.form input:not(:placeholder-shown):not(:focus):invalid + .label {
  transform: translateY(-180%);
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: $light-pink;
}
